<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/user">Users</a></li>
        </ul>
    </header>
    <h1>Users</h1>
    <% if(users.length > 0) {%>
    <ul>
        <% for(user of users) {%>
        <li>
            <%=user.name%>
        </li>
        <%}%>
    </ul>
    <% } else { %>
    <h1>No Users found</h1>
    <%}%>
</body>

</html>